<div id="wrapper" class="wrapper">
  <div class="tm-header tm-header-sticky">
    <app-top-contact-bar></app-top-contact-bar>
    <app-search-area></app-search-area>
    <app-manu-bar></app-manu-bar>
  </div>
  <!-- Breadcrumb Area -->
  <div
    class="tm-breadcrumb-area tm-padding-section bg-grey"
    style="
      background-image: url(../../../../../../assets/images/breadcrumb-bg.jpg);
      margin-top: 57.6719px;
    "
  >
    <div class="container">
      <div class="tm-breadcrumb">
        <h2>Products</h2>
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/product']">Product</a></li>
          <li>Products-Details</li>
        </ul>
      </div>
    </div>
  </div>
  <!--// Breadcrumb Area -->
  <!-- Page Content -->
  <main class="page-content">
    <div class="tm-prodetails">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-10 col-12">
            <div class="tm-prodetails-images">
              <div class="tm-prodetails-largeimages">
                <div class="tm-prodetails-largeimage">
                  <a
                    target="_blank"
                    data-fancybox="tm-prodetails-imagegallery"
                    href="{{ productDetails.imgurl }}"
                    data-caption="Product Zoom Image 1"
                  >
                    <img
                      src="{{
                        productDetails.imgurl
                          ? productDetails.imgurl
                          : '../../../../../assets/images/9264822.jpg'
                      }}"
                      alt="product image"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-12">
            <div class="tm-prodetails-content">
              <h4 class="tm-prodetails-title">
                {{ productDetails.product_name }}
              </h4>
              <span class="tm-prodetails-price">
                <!-- <del>{{ (productDetails.system_price * productDetails.weight) as number | any).toFixed(2) }}
                  </del> -->
                $
                {{
                  (
                    +productDetails.system_price * +productDetails.weight
                  ).toFixed(2)
                }}
              </span>
              <div class="tm-prodetails-infos">
                <h4>Stone Details :</h4>
                <div class="details">
                  <table class="prodetails-info-table">
                    <tr>
                      <td class="tm-prodetails-singleinfo">
                        <b>Stone Id :</b>
                        {{ productDetails.stone_id }}
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Clarity :</b>
                        <a>
                          {{
                          productDetails.clarity ? productDetails.clarity : 'NA'
                          }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Color :</b>
                        <a>
                          {{ productDetails.color ? productDetails.color : 'NA' }}
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="tm-prodetails-singleinfo">
                        <b>Weight :</b>
                        <a>
                          {{ productDetails.weight ? productDetails.weight : 'NA' }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Crown Angle :</b>
                        <a>
                          {{
                            productDetails.crown_angle
                              ? productDetails.crown_angle
                              : 'NA'
                          }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Cut :</b>
                        <a>{{ productDetails.cut ? productDetails.cut : 'NA' }}</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="tm-prodetails-singleinfo">
                        <b>Depth :</b>
                        <a>
                          {{ productDetails.depth ? productDetails.depth : 'NA' }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Eye Clean :</b>
                        <a>
                          {{
                            productDetails.eye_clean
                              ? productDetails.eye_clean
                              : 'NA'
                          }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Fluor Int :</b>
                        <a>
                          {{
                          productDetails.fluor_int
                          ? productDetails.fluor_int
                          : 'NA'
                          }}
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="tm-prodetails-singleinfo">
                        <b>Lab :</b>
                        <a>{{ productDetails.lab ? productDetails.lab : 'NA' }}</a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Location :</b>
                        <a>
                          {{
                          productDetails.location ? productDetails.location : 'NA'
                          }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Lot No :</b>
                        <a>
                          {{ productDetails.lot_no ? productDetails.lot_no : 'NA' }}
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="tm-prodetails-singleinfo">
                        <b>Measurements :</b>
                        <a>{{ productDetails.measurements }}</a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Pavilion_an :</b>
                        <a>
                          {{
                          productDetails.pavilion_an
                          ? productDetails.pavilion_an
                          : 'NA'
                          }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Pavilion_dep :</b>
                        <a>
                          {{
                          productDetails.pavilion_dep
                          ? productDetails.pavilion_dep
                          : 'NA'
                          }}
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="tm-prodetails-singleinfo">
                        <b>Polish :</b>
                        <a>
                          {{ productDetails.polish ? productDetails.polish : 'NA' }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Ratio :</b>
                        <a>
                          {{ productDetails.ratio ? productDetails.ratio : 'NA' }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Shape :</b>
                        <a>
                          {{ productDetails.shape ? productDetails.shape : 'NA' }}
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="tm-prodetails-singleinfo">
                        <b>Stone Type :</b>
                        <a>
                          {{
                          productDetails.stone_type
                          ? productDetails.stone_type
                          : 'NA'
                          }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Symmetry :</b>
                        <a>
                          {{
                          productDetails.symmetry ? productDetails.symmetry : 'NA'
                          }}
                        </a>
                      </td>
                      <td class="tm-prodetails-singleinfo">
                        <b>Table :</b>
                        <a>
                          {{ productDetails.table ? productDetails.table : 'NA' }}
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="tm-prodetails-singleinfo mt-3">
                  <b>Available :</b>
                  <span
                    class="color-theme"
                    [class.available]="productDetails.status == 1"
                  >
                    {{
                      productDetails.status == 1 ? 'In Stock' : 'Not Available'
                    }}
                  </span>
                </div>
                <p class="description-area">
                  <b>More Product Details:</b>
                  Discover the allure of our diamonds with an immersive V360
                  experience, offering a
                  <a href="{{ productDetails.v360 }}" target="_blank">
                    360-degree
                  </a>
                  view for a comprehensive exploration of every facet. Navigate
                  the brilliance effortlessly on our
                  <a href="{{ productDetails.v360 }}" target="_blank">V360</a>
                  URL, ensuring confidence in your selection. Each purchase
                  includes a certificate of authenticity, providing detailed
                  insights into the diamond's quality. For added convenience,
                  access the
                  <a href="{{ productDetails.certi_pdf_url }}" target="_blank">
                    certificate
                  </a>
                  in PDF format. Embrace the perfect blend of technology and
                  tradition, ensuring that your choice is not just a purchase
                  but a celebration of authenticity and elegance. Choose
                  brilliance, transparency, and an unparalleled journey into the
                  heart of your exquisite diamond.
                </p>
                <div class="view-part">
                  <a
                    class="btn-view"
                    href="{{ productDetails.v360 }}"
                    target="_blank"
                  >
                    360 &#176; View
                  </a>
                  <a
                    class="btn-view"
                    href="{{ productDetails.certi_pdf_url }}"
                    target="_blank"
                  >
                    Certificate
                  </a>
                </div>
                <div
                  class="tm-prodetails-quantitycart"
                  (click)="shareProductOnWhatsApp(productDetails)"
                >
                  <a class="tm-button tm-button-dark">Buy Now</a>
                </div>
              </div>
              <!-- <p>
                <b>More Product Details:</b>
                Discover the allure of our diamonds with an immersive V360
                experience, offering a
                <a href="{{ productDetails.v360 }}" target="_blank">
                  360-degree
                </a>
                view for a comprehensive exploration of every facet. Navigate
                the brilliance effortlessly on our
                <a href="{{ productDetails.v360 }}" target="_blank">V360</a>
                URL, ensuring confidence in your selection. Each purchase
                includes a certificate of authenticity, providing detailed
                insights into the diamond's quality. For added convenience,
                access the
                <a href="{{ productDetails.certi_pdf_url }}" target="_blank">
                  certificate
                </a>
                in PDF format. Embrace the perfect blend of technology and
                tradition, ensuring that your choice is not just a purchase but
                a celebration of authenticity and elegance. Choose brilliance,
                transparency, and an unparalleled journey into the heart of your
                exquisite diamond.
              </p> -->
            </div>
          </div>
        </div>
        <div class="row">
          <app-populer-shapes
            [background]="false"
            [title]="false"
          ></app-populer-shapes>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer></app-footer>
