<!-- Brand Logos -->
<div
  class="tm-section tm-brandlogo-area tm-padding-section bg-grey animate__animated animate__slideInLeft"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-12">
        <div class="tm-sectiontitle text-center">
          <h3>Affiliations</h3>
          <p>
            Our popular Shapes are so beautyful to see that the shoppers are
            <br />
            easily attracted to them.
          </p>
        </div>
      </div>
    </div>
    <div class="row tm-brandlogo-slider">
      <!-- <carousel
        [isAnimated]="true"
        [itemsPerSlide]="itemsPerSlide"
        [singleSlideOffset]="singleSlideOffset"
        [noWrap]="noWrap"
      >
        <slide>
          <div class="col-12 tm-brandlogo">
            <a href="javascript:void(0)">
              <img src="assets/images/brand_logo/1.png" alt="brand-logo" />
            </a>
          </div>
        </slide>
        <slide>
          <div class="col-12 tm-brandlogo">
            <a href="javascript:void(0)">
              <img src="assets/images/brand_logo/2.png" alt="brand-logo" />
            </a>
          </div>
        </slide>
        <slide>
          <div class="col-12 tm-brandlogo">
            <a href="javascript:void(0)">
              <img src="assets/images/brand_logo/3.png" alt="brand-logo" />
            </a>
          </div>
        </slide>
        <slide>
          <div class="col-12 tm-brandlogo">
            <a href="javascript:void(0)">
              <img src="assets/images/brand_logo/4.png" alt="brand-logo" />
            </a>
          </div>
        </slide>
        <slide>
          <div class="col-12 tm-brandlogo">
            <a href="javascript:void(0)">
              <img src="assets/images/brand_logo/3.png" alt="brand-logo" />
            </a>
          </div>
        </slide>
        <slide>
          <div class="col-12 tm-brandlogo">
            <a href="javascript:void(0)">
              <img src="assets/images/brand_logo/4.png" alt="brand-logo" />
            </a>
          </div>
        </slide>
      </carousel> -->

      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of affiliation; let i = index">
          <ng-template carouselSlide [id]="i.toString()">
            <!-- Brang Logo Single -->
            <div class="tm-brandlogo">
              <a href="javascript:void(0)">
                <img [src]="slide.productImg" alt="brand-logo" />
              </a>
            </div>
            <!-- Brang Logo Single -->
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <!--// Brand Logos -->
</div>
