<!-- Header Bottom Area -->
<div class="tm-header-bottomarea bg-white">
  <div class="container">
    <nav class="tm-header-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="tm-header-nav-dropdown">
          <a href="products.html">Shop</a>
          <ul>
            <li><a href="products.html">Products</a></li>
          </ul>
        </li>

        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
<!--// Header Bottom Area -->
