<!-- Header Bottom Area -->
<!-- <div class="tm-header-bottomarea bg-white">
  <div class="container">
    <nav class="tm-header-nav">
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
        <li class="tm-header-nav-dropdown">
          <a>Shop</a>
          <ul>
            <li><a [routerLink]="['/product']">Products</a></li>
          </ul>
        </li>

        <li><a [routerLink]="['/blog']">Blog</a></li>
        <li><a [routerLink]="['/contact']">Contact</a></li>
      </ul>
    </nav>
  </div>
</div> -->
<!--// Header Bottom Area -->

<!-- responsive-header.component.html -->
<header class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <!-- <a class="navbar-brand" [routerLink]="['/']">Your Logo</a> -->

    <!-- Toggle button for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item dropdown">
          <!-- Add 'dropdown' class here -->
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Shop
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/product']">Products</a>
            <!-- Add more submenu items if needed -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
