/**
 * Navigation
 */

.tm-header-nav {
    position: relative;
    text-align: center;

    ul {
        margin-bottom: 0;
        padding-left: 0;

        li {
            list-style: none;
            display: inline-block;
            margin: 0 18px;
            position: relative;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                display: inline-block;
                padding: 15px 0;
                color: #000000;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 16px;
            }

            &.current,
            &:hover {
                &>a {
                    color: #f2ba59;
                }
            }
        }
    }

    .tm-header-nav-dropdown {
        &>a {
            &::after {
                content: "\f123";
                font-family: 'Ionicons';
                font-size: 12px;
                padding-left: 3px;
                vertical-align: middle;
            }
        }

        ul {
            position: absolute;
            text-align: left;
            padding: 10px 0;
            left: 100%;
            top: 0;
            width: 250px;
            background: #ffffff;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
            border-top: 4px solid #f2ba59;
            visibility: hidden;
            opacity: 0;
            z-index: -1;
            border-radius: 0 0 3px 3px;
            transition: all 0.1s ease-in-out 0s;

            li {
                display: block;
                padding: 0 15px;
                transition: all 0.1s ease-in-out 0s;
                margin: 0;

                a {
                    padding: 6px 0;
                    line-height: 1.3;
                    display: block;
                    font-weight: 400;
                    font-size: 14px;
                    color: #000000;
                }

                &.has-child {
                    // @include clearfix();

                    &>a {
                        &::after {
                            content: "\f125";
                            font-family: 'Ionicons';
                            font-size: 12px;
                            float: right;
                        }
                    }
                }

                &:hover {
                    &>a {
                        color: #f2ba59;
                    }

                    &>ul {
                        visibility: visible;
                        opacity: 1;
                        z-index: 1;
                    }
                }
            }
        }

        &>ul {
            left: 0;
            top: 100%;
        }

        &:hover {
            &>ul {
                visibility: visible;
                opacity: 1;
                z-index: 9;
            }
        }

        &.overflow-element {
            ul {
                left: auto;
                right: 100%;
            }

            &>ul {
                left: auto;
                right: 0;
            }
        }
    }

    .tm-header-nav-megamenu {
        position: inherit;

        &>a {
            &::after {
                content: "\f123";
                font-family: 'Ionicons';
                font-size: 12px;
                padding-left: 3px;
                vertical-align: middle;
            }
        }

        &>ul {
            display: flex;
            justify-content: space-between;
            position: absolute;
            text-align: left;
            left: 0;
            top: 100%;
            width: 100%;
            background: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-top: 4px solid #f2ba59;
            padding: 15px;
            visibility: hidden;
            opacity: 0;
            z-index: -1;

            &>li {
                display: block;
                width: 100%;
                margin: 15px 0;
                padding: 0 20px;

                &:not(:last-child) {
                    border-right: 1px solid #ebebeb;
                }

                &>a {
                    display: block;
                    color: #f2ba59;
                    border-bottom: 1px solid #f2ba59;
                    padding: 0;
                    padding-bottom: 5px;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 14px;
                }
            }

            ul {
                li {
                    display: block;
                    margin: 0;

                    a {
                        padding: 5px 0;
                        line-height: 1.3;
                        display: block;
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
        }

        &:hover {
            &>ul {
                visibility: visible;
                opacity: 1;
                z-index: 9;
            }
        }


    }

    // @media #{$layout-notebook} {
    //     ul {
    //         li {
    //             margin: 0 11px;
    //         }
    //     }
    // }
}

.tm-header-bottomarea {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 100%;
    z-index: 99;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
}

.tm-header-bottomarea {
    border-top: 1px solid #ebebeb;
}

.bg-white {
    background-color: #ffffff !important;
}

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.navbar-collapse {
    box-shadow: 0 2px 10px rgba(34, 34, 34, 0.15);
    background: #f7f7f7;
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    width: 90%;
    margin: auto;
}

.navbar-collapse ul li.nav-item a.nav-link {
    font-size: 14px;
    color: #000000;
    padding: 10px 5%;
    font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 980px) {
    .navbar {
        max-width: unset;
    }

    .navbar-collapse {
        text-align: center;
        width: 100%;

        .navbar-nav {
            margin: 0 !important;
            width: 100%;
            text-align: center;
            justify-content: center;

            li.nav-item {
                list-style: none;
                display: inline-block;
                margin: 0 18px;
                position: relative;

                a.nav-link {
                    display: inline-block;
                    padding: 15px 0;
                    color: #000000;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                }

                &:hover {
                    a.nav-link {
                        color: #f2ba59;
                    }

                    .dropdown-menu {
                        visibility: visible;
                        opacity: 1;
                        z-index: 9;
                    }
                }

                .dropdown-menu {
                    position: absolute;
                    text-align: left;
                    padding: 10px 0;
                    left: 100%;
                    top: 0;
                    width: 250px;
                    background: #ffffff;
                    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
                    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
                    border-top: 4px solid #f2ba59;
                    visibility: hidden;
                    opacity: 0;
                    z-index: -1;
                    border-radius: 0 0 3px 3px;
                    -webkit-transition: all 0.1s ease-in-out 0s;
                    -o-transition: all 0.1s ease-in-out 0s;
                    transition: all 0.1s ease-in-out 0s;
                    left: 0;
                    top: 100%;

                    a {
                        padding: 6px 0;
                        line-height: 1.3;
                        display: block;
                        font-weight: 400;
                        font-size: 14px;
                        color: #000000;
                        padding: 0 15px;
                    }

                    // &:hover {
                    //     > a {
                    //         color: #f2ba59;
                    //     }
                    // }
                }
            }
        }
    }
}

.dropdown-item:hover {
    color: #f2ba59 !important;
}

.dropdown-item-sub:hover {
    color: #f2ba59 !important;
    background-color: #e9ecef;
}

.dropdown-item-sub {
    padding: 6px 10px !important;
}

.sub-menu-heading {
    color: #000000;
    font-weight: 600;
    padding-left: 10px;
}