.tm-heroslider {
    margin-top: 56px;
    .bannerText {
        position: relative;
        left: 0;
        top: 0;
        z-index: 10;
    }
    .carousel-item {
        max-height: 754px;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    }
    .tm-heroslider-content {
        padding: 150px 0;
        h1 {
            margin-top: -10px;
            font-size: 50px;
            line-height: 64px;
            color: #000000;
            font-weight: 700;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            margin-top: 30px;
            color: #000000;
        }
        .tm-button {
            margin-top: 25px;
            display: inline-block;
            height: 50px;
            min-width: 150px;
            background: #f2ba59;
            color: #ffffff;
            text-align: center;
            line-height: 50px;
            font-weight: 600;
            border-radius: 4px;
            z-index: 1;
            position: relative;
            overflow: hidden;
            padding: 0 40px;
            vertical-align: middle;
            font-size: 16px;
        }
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .tm-heroslider {
        margin-top: 0;
    }
    .tm-heroslider .tm-heroslider-content h1 {
        font-size: 16px;
        line-height: 18px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .tm-heroslider .tm-heroslider-content {
        padding: 0;
        margin-top: 5px;
    }
    .tm-heroslider .carousel-item {
        height: auto;
    }
    .tm-heroslider .bannerText {
        width: 60%;
        z-index: 5;
    }
    .tm-heroslider .tm-heroslider-content p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .tm-heroslider .carousel-indicators {
        display: none !important;
    }
    .tm-heroslider .tm-heroslider-content .tm-button {
        margin-top: 5px;
        min-width: inherit;
        padding:0 15px;
        font-size: 12px;
        height: 28px;
        line-height: 28px;
    }
}
@media only screen and (min-width:768px) and (max-width:979px) {
    .tm-heroslider {
            margin-top: 0;
        }
    .tm-heroslider .tm-heroslider-content h1 {
        font-size: 25px;
        line-height: 28px;
        margin-top: 0;
    }
    .tm-heroslider .tm-heroslider-content {
        padding: 0;
        margin-top:20px;
    }
    .tm-heroslider .tm-heroslider-content p {
        font-size: 18px;
        line-height: 25px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .tm-heroslider .carousel-item {
        height: auto;
    }
    .tm-heroslider .tm-heroslider-content .tm-button {
        margin-top: 15px;
        min-width: inherit;
        padding: 0 15px;
        font-size: 13px;
        height: 32px;
        line-height:32px;
    }
    .carousel-indicators {
        display: none !important;
    }
}
@media only screen and (min-width:980px) and (max-width:1023px) {
    .tm-heroslider {
            margin-top: 0;
    }
    .tm-heroslider .tm-heroslider-content h1 {
        font-size: 40px;
        line-height: 46px;
        margin-top: 0;
    }
    .tm-heroslider .tm-heroslider-content {
        padding: 0;
        margin-top: 20px;
    }
    .tm-heroslider .carousel-item {
        height: auto;
    }
}
@media only screen and (min-width:1024px) and (max-width:1600px) {
    // .tm-heroslider {
    //     margin-top: 0;
    // }

    .tm-heroslider .tm-heroslider-content h1 {
        font-size: 40px;
        line-height: 46px;
        margin-top: 0;
    }

    .tm-heroslider .tm-heroslider-content {
        padding: 30px 0 0;
        margin-top: 0;
    }

    .tm-heroslider .carousel-item {
        height: auto;
    }
}
