<div class="tm-heroslider">
<carousel [isAnimated]="true">
  <slide>
    <img
      src="../../../../assets/images/heoslider-image-1.jpg"
      alt="first slide"
      style="display: block; width: 100%;"
    />
    <div class="container">
      <div class="bannerText">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-8 col-12">
            <div class="tm-heroslider-contentwrapper">
              <div class="tm-heroslider-content">
                <h1>Lab Grown Diamonds <br/>with Unparalleled Brilliance!</h1>
                <p> RP Enterprise India, the leading manufacturer and exporter of lab grown diamonds.</p>
                <a href="products.html" class="tm-button">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </slide>
  <slide>
    <img
      src="../../../../assets/images/heoslider-image-2.jpg"
      alt="second slide"
      style="display: block; width: 100%;"
    />
    <div class="container">
      <div class="bannerText">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-8 col-12">
            <div class="tm-heroslider-contentwrapper">
              <div class="tm-heroslider-content">
                <h1>Embrace the future of jewelry with lab-grown diamonds</h1>
                <p>Experience the perfect blend of beauty and sustainability as you adorn yourself with these
                  ethically crafted gems.</p>
                <a href="products.html" class="tm-button">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </slide>
  <slide>
    <img
      src="../../../../assets/images/heoslider-image-3.jpg"
      alt="third slide"
      style="display: block; width: 100%;"
    />
    <div class="container">
      <div class="bannerText">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-8 col-12">
            <div class="tm-heroslider-contentwrapper">
              <div class="tm-heroslider-content">
                <h1>Elevate your style with our exclusive collection </h1>
                <p>Each item in our exclusive collection is crafted with the utmost attention to detail and quality.</p>
                <a href="products.html" class="tm-button">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </slide>
</carousel>
</div>