<p>banner works!</p>
<carousel [isAnimated]="true">
  <slide>
    <img
      src="https://dummyimage.com/hd1080"
      alt="first slide"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUbwWSJ97DlK2J7RHpo87nlCusAhYKArK1zM2sEaQtY07uK-mUl6iQTbVHzYyN609akUE&usqp=CAU"
      alt="second slide"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="https://dummyimage.com/640x360/fff/aaa"
      alt="third slide"
      style="display: block; width: 100%;"
    />
  </slide>
</carousel>
