<!-- Latest Blogs Area -->
<div
  id="tm-news-area"
  class="tm-section tm-blog-area tm-padding-section bg-pattern-transparent"
  style="padding-bottom: 44px;"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-12">
        <div class="tm-sectiontitle text-center">
          <h3>LATEST BLOGS</h3>
          <p>
            A blog is a discussion or informational website published on the
            World Wide Web consisting of discrete
          </p>
        </div>
      </div>
    </div>
    <div class="row tm-blog-slider">
    <carousel [isAnimated]="true" [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [noWrap]="noWrap">
      <!-- Blog Single Item -->
      <slide>
      <div class="col-lg-12">
        <div class="tm-blog tm-scrollanim">
          <div class="tm-blog-topside">
            <div class="tm-blog-thumb">
              <img src="assets/images/blog/blog_1.jpg" alt="blog image">
            </div>
            <span class="tm-blog-metahighlight"><span>Aug</span>15</span>
          </div>
          <div class="tm-blog-content">
            <h6 class="tm-blog-title"><a href="blog-details-1.html">Lab Grown Diamonds vs. Natural Diamonds: Exploring the
                Differences
              </a></h6>
            <ul class="tm-blog-meta">
              <li><a href="blog.html"><i class="fa fa-user" aria-hidden="true"></i> Anderson</a></li>
              <li><a href="blog-details-1.html"><i class="fa fa-comments" aria-hidden="true"></i> 3 Comments</a>
              </li>
            </ul>
            <p>Lab-grown diamonds have emerged as a sustainable and ethical alternative to natural diamonds.[....]</p>
            <a href="blog-details-1.html" class="tm-readmore">Read more</a>
          </div>
        </div>
      </div>
      </slide>
      <!--// Blog Single Item -->
    
      <!-- Blog Single Item -->
      <slide>
      <div class="col-lg-12">
        <div class="tm-blog tm-scrollanim">
          <div class="tm-blog-topside">
            <div class="tm-blog-thumb">
              <img src="assets/images/blog/Blog_2.jpg" alt="blog image">
            </div>
            <span class="tm-blog-metahighlight"><span>Aug</span>15</span>
          </div>
          <div class="tm-blog-content">
            <h6 class="tm-blog-title"><a href="blog-details.html">Unveiling the Brilliance: Unique Shapes in Lab-Grown
                Diamonds
              </a></h6>
            <ul class="tm-blog-meta">
              <li><a href="blog.html"><i class="fa fa-user" aria-hidden="true"></i> Anderson</a></li>
              <li><a href="blog-details.html"><i class="fa fa-comments" aria-hidden="true"></i> 3 Comments</a>
              </li>
            </ul>
            <p>Lab-grown diamonds have opened up a world of possibilities when it comes to diamond shapes. [....]</p>
            <a href="blog-details.html" class="tm-readmore">Read more</a>
          </div>
        </div>
      </div>
      </slide>
      <!--// Blog Single Item -->
    
      <!-- Blog Single Item -->
      <slide>
      <div class="col-lg-12">
        <div class="tm-blog tm-scrollanim">
          <div class="tm-blog-topside">
            <div class="tm-blog-thumb">
              <img src="assets/images/blog/Blog_3.jpg" alt="blog image">
            </div>
            <span class="tm-blog-metahighlight"><span>Aug</span>15</span>
          </div>
          <div class="tm-blog-content">
            <h6 class="tm-blog-title"><a href="blog-details.html">The Ever-Growing Sparkle: The Increasing Demand for
                Lab-Grown Diamonds </a></h6>
            <ul class="tm-blog-meta">
              <li><a href="blog.html"><i class="fa fa-user" aria-hidden="true"></i> Anderson</a></li>
              <li><a href="blog-details.html"><i class="fa fa-comments" aria-hidden="true"></i> 3 Comments</a>
              </li>
            </ul>
            <p>In recent years, there has been a remarkable surge in the demand for lab-grown diamonds. As a leading
              manufacturer and exporter[....]</p>
            <a href="blog-details.html" class="tm-readmore">Read more</a>
          </div>
        </div>
      </div>
      </slide>
      <!--// Blog Single Item -->
    
      <!-- Blog Single Item -->
      <slide>
      <div class="col-lg-12">
        <div class="tm-blog tm-scrollanim">
          <div class="tm-blog-topside">
            <div class="tm-blog-thumb">
              <img src="assets/images/blog/Blog_2.jpg" alt="blog image">
            </div>
            <span class="tm-blog-metahighlight"><span>Aug</span>15</span>
          </div>
          <div class="tm-blog-content">
            <h6 class="tm-blog-title"><a href="blog-details.html">Unveiling the Brilliance: Unique Shapes in Lab-Grown
                Diamonds
              </a></h6>
            <ul class="tm-blog-meta">
              <li><a href="blog.html"><i class="fa fa-user" aria-hidden="true"></i> Anderson</a></li>
              <li><a href="blog-details.html"><i class="fa fa-comments" aria-hidden="true"></i> 3 Comments</a>
              </li>
            </ul>
            <p>Lab-grown diamonds have opened up a world of possibilities when it comes to diamond shapes.[....]</p>
            <a href="blog-details.html" class="tm-readmore">Read more</a>
          </div>
        </div>
      </div>
      </slide>
      <!--// Blog Single Item -->
    </carousel>
    </div>
  </div>
</div>
<!--// Latest Blogs Area -->
