<div id="wrapper" class="wrapper">
  <div class="tm-header tm-header-sticky">
    <app-top-contact-bar></app-top-contact-bar>
    <app-search-area></app-search-area>
    <app-manu-bar></app-manu-bar>
  </div>
  <!-- Breadcrumb Area -->
  <div
    class="tm-breadcrumb-area tm-padding-section bg-grey"
    style="
      background-image: url(../../../../../../assets/images/breadcrumb-bg.jpg);
      margin-top: 57.6719px;
    "
  >
    <div class="container">
      <div class="tm-breadcrumb">
        <h2>Return & Refund Policy</h2>
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li>Return & Refund Policy</li>
        </ul>
      </div>
    </div>
  </div>
  <!--// Breadcrumb Area -->
  <!-- Page Content -->
  <main class="page-content">
    <div class="tm-products-area tm-section tm-padding-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div>
              <!-- <h1>Return & Refund Policy</h1> -->

              <h2>1. Returns</h2>

              <p>
                a.
                <strong>30-Day Return Policy:</strong>
                We accept returns within 30 days from the date of purchase. If
                30 days have passed since your purchase, unfortunately, we
                cannot offer you a refund or exchange.
              </p>

              <p>
                <span>b.</span>
                <strong>Conditions for Returns:</strong>
              </p>
              <ul>
                <li>
                  The item must be unused and in the same condition that you
                  received it.
                </li>
                <li>It must be in the original packaging.</li>
                <li>
                  The diamond certificate, if applicable, must also be returned.
                </li>
              </ul>

              <p>
                c.
                <strong>Return Process:</strong>
                To initiate a return, please contact us at the following:
              </p>
              <ul>
                <li>
                  Email:
                  <a href="mailto:rplabgrowndiam@gmail.com">
                    rplabgrowndiam&#64;gmail.com
                  </a>
                </li>
                <li>Phone: +91 81690 97952</li>
              </ul>
              Kindly provide your order number, the reason for the return, and
              any relevant details. Our customer service team will guide you
              through the return process.

              <p>
                d.
                <strong>Return Shipping:</strong>
                Customers are responsible for return shipping costs. We
                recommend using a trackable shipping service or purchasing
                shipping insurance, as we cannot guarantee that we will receive
                your returned item.
              </p>

              <h2>2. Refunds</h2>

              <p>
                a.
                <strong>Refund Eligibility:</strong>
                Once your return is received and inspected, we will notify you
                of the approval or rejection of your refund. Refunds are
                processed for eligible items that meet the return conditions.
              </p>

              <p>
                b.
                <strong>Refund Processing Time:</strong>
                If approved, your refund will be processed within a certain
                number of days, and a credit will automatically be applied to
                your original method of payment.
              </p>

              <h2>3. Exchanges</h2>

              <p>
                We do not offer direct exchanges. If you need a different item,
                please place a new order and initiate a return for the original
                item.
              </p>

              <h2>4. Contact Information</h2>

              <p>
                <strong>RP Enterprise</strong>
                <br />
                JE-5060, Bharat Diamond Bourse,
                <br />
                Bandra Kurla Complex, Bandra East,
                <br />
                Mumbai 400051, India.
                <br />
                <strong>Phone:</strong>
                +91 81690 97952
                <br />
                <strong>Email:</strong>
                <a href="mailto:rplabgrowndiam@gmail.com">
                  rplabgrowndiam&#64;gmail.com
                </a>
              </p>

              <h2>5. Changes to this Policy</h2>

              <p>
                RP Enterprise reserves the right to modify or update this Return
                & Refund Policy at any time. Any changes will be effective
                immediately upon posting on the website.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
