<div class="tm-footer">
  <!-- Instagram Photos -->
  <ul id="instafeed" class="tm-instaphotos"></ul>
  <!--// Instagram Photos -->

  <!-- Footer Top Area -->
  <div class="tm-footer-toparea tm-padding-section">
    <div class="container">
      <div class="widgets widgets-footer row">
        <!-- Single Widget -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-widget widget-info">
            <a class="widget-info-logo" [routerLink]="['/']">
              <img src="assets/images/logo.png" alt="logo" />
            </a>

            <p>
              Lorem ipsum dolor sit amet, consect etur adipiscing elit.
            </p>
            <ul>
              <li>
                <b>Address :</b>
                JE-3060, Bharat Diamond Bourse, Bandra Kurla Complex, Bandra
                East Mumbai 400051.
              </li>
              <li>
                <b>Phone :</b>
                <a href="tel:+18009156270">+91 81690 97952</a>
              </li>
              <li>
                <b>Email :</b>
                <a href="naveen.rplabgrown@gmail.com ">
                  naveen.rplabgrown&#64;gmail.com
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!--// Single Widget -->

        <!-- Single Widget -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-widget widget-quicklinks">
            <h6 class="widget-title">Useful Link</h6>
            <ul>
              <li><a [routerLink]="['/about']">About Us</a></li>
              <li><a href="javascript:void(0)">Delivery Info</a></li>
              <li><a href="javascript:void(0)">Privacy & Policy</a></li>
              <li><a href="javascript:void(0)">Returns & Refunds</a></li>
              <li><a href="javascript:void(0)">Terms & Conditions</a></li>
              <li><a [routerLink]="['/contact']">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <!--// Single Widget -->

        <!-- Single Widget -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-widget widget-quicklinks">
            <h6 class="widget-title">Categories</h6>
            <ul>
              <li>
                <a
                  [routerLink]="['/product']"
                  [queryParams]="{ Shapes: 'Round' }"
                >
                  Round
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['/product']"
                  [queryParams]="{ Shapes: 'Oval' }"
                >
                  Oval
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['/product']"
                  [queryParams]="{ Shapes: 'Cushion' }"
                >
                  Cushion
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['/product']"
                  [queryParams]="{ Shapes: 'Princess' }"
                >
                  Princess
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['/product']"
                  [queryParams]="{ Shapes: 'Radiant' }"
                >
                  Radiant
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['/product']"
                  [queryParams]="{ Shapes: 'Pear' }"
                >
                  Pear
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['/product']"
                  [queryParams]="{ Shapes: 'Marquise' }"
                >
                  Marquise
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['/product']"
                  [queryParams]="{ Shapes: 'Emerald' }"
                >
                  Emerald
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!--// Single Widget -->

        <!-- Single Widget -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-widget widget-newsletter">
            <h6 class="widget-title">Join Our Newsletter</h6>
            <p>
              Get Business news, tip and solutions to your problems from our
              experts.
            </p>
            <form
              [formGroup]="newsletterForm"
              id="tm-mailchimp-form"
              class="widget-newsletter-form"
              (ngSubmit)="onSubmit()"
            >
              <input
                type="email"
                placeholder="Enter email address"
                formControlName="email"
              />
              <div
                class="error-handel"
                *ngIf="
                  newsletterForm.get('email')?.hasError('required') &&
                  newsletterForm.get('email')?.touched
                "
              >
                Email is required.
              </div>
              <div
                class="error-handel"
                *ngIf="
                  newsletterForm.get('email')?.hasError('email') &&
                  newsletterForm.get('email')?.touched
                "
              >
                Please enter a valid email address.
              </div>
              <button
                id="mc-submit"
                type="submit"
                class="tm-button"
                [disabled]="!newsletterForm.valid"
              >
                Subscribe Now
                <b></b>
              </button>
            </form>
            <!-- Mailchimp Alerts -->
            <div class="tm-mailchimp-alerts">
              <div class="tm-mailchimp-submitting"></div>
              <div class="mailchimp-success"></div>
              <div class="tm-mailchimp-error"></div>
            </div>
            <!--// Mailchimp Alerts -->
          </div>
        </div>
        <!--// Single Widget -->
      </div>
    </div>
  </div>
  <!--// Footer Top Area -->

  <!-- Footer Bottom Area -->
  <div class="tm-footer-bottomarea">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          <p class="tm-footer-copyright">
            Powered by
            <a href="https://BetaTechnologies.com" target="_blank">
              BetaTechnologies
            </a>
            &#169; 2023 - 2024.
          </p>
        </div>
        <div class="col-md-5">
          <div class="tm-footer-payment">
            <img
              src="assets/images/payment-methods.png"
              alt="payment methods"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Footer Bottom Area -->
</div>
