<div id="wrapper" class="wrapper">
  <div class="tm-header tm-header-sticky">
    <app-top-contact-bar></app-top-contact-bar>
    <app-search-area></app-search-area>
    <app-manu-bar></app-manu-bar>
  </div>
  <!-- Breadcrumb Area -->
  <div
    class="tm-breadcrumb-area tm-padding-section bg-grey"
    style="
      background-image: url(../../../../../../assets/images/breadcrumb-bg.jpg);
      margin-top: 57.6719px;
    "
  >
    <div class="container">
      <div class="tm-breadcrumb">
        <h2>Contact Us</h2>
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  </div>

  <!--// Breadcrumb Area -->

  <!-- Page Content -->
  <main class="page-content">
    <!-- Google Map -->
    <!-- <div id="google-map" class="google-map"></div> -->
    <!--// Google Map -->

    <!-- Contact Area -->
    <div class="tm-section tm-contact-area tm-padding-section bg-white">
      <div class="container">
        <div class="tm-contact-blocks">
          <div class="row mt-30-reverse justify-content-center">
            <!-- Contact block -->
            <div class="col-lg-4 col-md-6 mt-30">
              <div class="tm-contact-block text-center">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h6 style="color: #ffa700ef;">Mumbai Address</h6>
                <p>
                  JE-5060, Bharat Diamond Bourse, Bandra
                  <br />
                  Kurla Complex, Bandra East Mumbai
                  <br />
                  400051
                </p>
              </div>
            </div>
            <!--// Contact block -->

            <!-- Contact block -->
            <div class="col-lg-4 col-md-6 mt-30">
              <div class="tm-contact-block text-center">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h6 style="color: #ffa700ef;">Surat Address</h6>
                <p>
                  202 J tower, Lalita Estate, Vasta Devdi Road,
                  <br />
                  Next to Pansuriya Impex, Katargam Surat,
                  <br />
                  395004
                </p>
              </div>
            </div>
            <!--// Contact block -->

            <!-- Contact block -->
            <div class="col-lg-4 col-md-6 mt-30">
              <div class="tm-contact-block text-center">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h6 style="color: #ffa700ef;">USA Address</h6>
                <p>
                  Suite 1809, 15W, 47th Street, New York
                  <br />
                  10036
                </p>
              </div>
            </div>
            <!--// Contact block -->

            <!-- Contact block -->
            <div class="col-lg-4 col-md-6 mt-30">
              <div class="tm-contact-block text-center">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <h6 style="color: #ffa700ef;">Call Us</h6>
                <p>
                  Phone :
                  <a href="tel:+91 81690 97952">+91 81690 97952</a>
                </p>
                <p>
                  Tel :
                  <a href="tel:+15147332010">1 514 733 2010</a>
                </p>
              </div>
            </div>
            <!--// Contact block -->

            <!-- Contact block -->
            <div class="col-lg-4 col-md-6 mt-30">
              <div class="tm-contact-block text-center">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <h6 style="color: #ffa700ef;">Email</h6>
                <p>
                  <a href="mailto:surose@gmail.com">
                    rplabgrowndiam&#64;gmail.com
                  </a>
                </p>
                <!-- <p><a href="mailto:info@surose.com">info&#64;surose.com</a></p> -->
              </div>
            </div>
            <!--// Contact block -->
          </div>
        </div>

        <div class="tm-contact-forms tm-padding-section-top">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
              <div class="tm-sectiontitle text-center">
                <h3>SEND US A MESSAGE</h3>
                <p>
                  You can contact us for any of your requirements. We’ll help
                  you meet your needs.
                </p>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-lg-8">
              <form
                id="tm-contactform"
                [formGroup]="contactForm"
                (ngSubmit)="onSubmit()"
                class="tm-contact-forminner tm-form"
                method="POST"
              >
                <div class="tm-form-inner">
                  <div class="tm-form-field tm-form-fieldhalf">
                    <label for="contact-form-name">Name</label>
                    <input
                      type="text"
                      id="contact-form-name"
                      placeholder="Your name here"
                      name="name"
                      formControlName="name"
                    />
                    <div
                      *ngIf="
                        contactForm.get('name')?.touched &&
                        contactForm.get('name')?.invalid
                      "
                      class="error-message"
                    >
                      {{ getFormControlError('name') }}
                    </div>
                  </div>
                  <div class="tm-form-field tm-form-fieldhalf">
                    <label for="contact-form-email">Email</label>
                    <input
                      type="email"
                      id="contact-form-email"
                      placeholder="surose@example.com"
                      name="email"
                      formControlName="email"
                    />
                    <div
                      *ngIf="
                        contactForm.get('email')?.touched &&
                        contactForm.get('email')?.invalid
                      "
                      class="error-message"
                    >
                      {{ getFormControlError('email') }}
                    </div>
                  </div>
                  <div class="tm-form-field tm-form-fieldhalf">
                    <label for="contact-form-phone">Phone</label>
                    <input
                      type="text"
                      id="contact-form-phone"
                      placeholder="Your phone number here"
                      name="phone"
                      formControlName="phone"
                    />
                    <div
                      *ngIf="
                        contactForm.get('phone')?.touched &&
                        contactForm.get('phone')?.invalid
                      "
                      class="error-message"
                    >
                      {{ getFormControlError('phone') }}
                    </div>
                  </div>
                  <div class="tm-form-field tm-form-fieldhalf">
                    <label for="contact-form-subject">Subject</label>
                    <input
                      type="text"
                      id="contact-form-subject"
                      placeholder="Your subjert"
                      name="subject"
                      formControlName="subject"
                    />
                    <div
                      *ngIf="
                        contactForm.get('subject')?.touched &&
                        contactForm.get('subject')?.invalid
                      "
                      class="error-message"
                    >
                      {{ getFormControlError('subject') }}
                    </div>
                  </div>
                  <div class="tm-form-field">
                    <label for="contact-form-message">Message</label>
                    <textarea
                      cols="30"
                      rows="5"
                      id="contact-form-message"
                      placeholder="Write your message"
                      name="message"
                      formControlName="message"
                    ></textarea>
                    <div
                      *ngIf="
                        contactForm.get('message')?.touched &&
                        contactForm.get('message')?.invalid
                      "
                      class="error-message"
                    >
                      {{ getFormControlError('message') }}
                    </div>
                  </div>
                  <div class="tm-form-field text-center">
                    <button
                      [disabled]="isDisable"
                      type="submit"
                      class="tm-button tm-button-block"
                    >
                      Send Message
                    </button>
                  </div>
                </div>
              </form>
              <p class="form-messages"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// Contact Area -->
  </main>
  <!--// Page Content -->
  <app-footer></app-footer>
</div>
