<div
  id="tm-latest-products-area"
  class="tm-section tm-latest-products-area tm-padding-section bg-white"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-12">
        <div class="tm-sectiontitle text-center">
          <h3>NEW ARRIVAL PRODUCTS</h3>
          <p>
            Our popular products are so beautyful to see that the shoppers are
            easily attracted to them.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-50-reverse">
      <!-- Popular Products Area -->
      <div
        id="tm-latest-products-area"
        class="tm-section tm-latest-products-area bg-white"
      >
        <div class="container">
          <div class="row mt-50-reverse">
            <!-- Single Product -->
            <div
              class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-50"
              *ngFor="let item of productList"
            >
              <div class="tm-product tm-scrollanim">
                <div class="tm-product-topside">
                  <div class="tm-product-images">
                    <img
                      src="{{
                        item.imgurl
                          ? item.imgurl
                          : 'http://mycertdiamvids.com/Videos/1221887/still.jpg'
                      }}"
                      alt="product image"
                    />
                    <img
                      src="{{
                        item.imgurl
                          ? item.imgurl
                          : 'http://mycertdiamvids.com/Videos/1221887/still.jpg'
                      }}"
                      alt="product image"
                    />
                  </div>
                  <ul class="tm-product-actions">
                    <li>
                      <button
                        (click)="shareProductOnWhatsApp(item)"
                        data-fancybox
                      >
                        <i>Buy Now</i>
                      </button>
                    </li>
                  </ul>
                  <div class="tm-product-badges">
                    <span class="tm-product-badges-new">New</span>
                    <span class="tm-product-badges-sale">Sale</span>
                  </div>
                </div>
                <div class="tm-product-bottomside">
                  <h6 class="tm-product-title">
                    <a>{{ item.product_name }}</a>
                  </h6>
                  <div class="tm-ratingbox">
                    <span class="is-active">
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                    <span class="is-active">
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                    <span class="is-active">
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                    <span class="is-active">
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                    <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                  </div>
                  <span class="tm-product-price">
                    $ {{ item.system_price.toFixed(2) }}
                  </span>
                  <div class="tm-product-content">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the when an unknown printer
                      took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries,
                      but also the leap into electronic typesetting.
                    </p>
                    <ul class="tm-product-actions">
                      <li>
                        <a href="#">
                          <i class="ion-android-cart"></i>
                          Add to cart
                        </a>
                      </li>
                      <li>
                        <button data-fancybox data-src="#tm-product-quickview">
                          <i class="ion-eye"></i>
                        </button>
                      </li>
                      <li>
                        <a href="#"><i class="ion-heart"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--// Single Product -->
          </div>
          <div class="tm-product-loadmore text-center mt-50">
            <a [routerLink]="['/product']" class="tm-button">All Products</a>
          </div>
        </div>
      </div>
      <!--// Popular Products Area -->
    </div>
  </div>
</div>
