<div class="tm-header-middlearea bg-white">
  <div class="container">
    <div class="tm-mobilenav"></div>
    <div class="row align-items-center">
      <div class="col-lg-3 col-6 order-1 order-lg-1">
        <a href="index.html" class="tm-header-logo">
          <img src="assets/images/logo.png" alt="surose" />
        </a>
      </div>
      <div class="col-lg-6 col-12 order-3 order-lg-2">
        <form class="tm-header-search">
          <input type="text" placeholder="Search product..." />
          <button><i class="ion-android-search"></i></button>
        </form>
      </div>
      <div class="col-lg-3 col-6 order-2 order-lg-3">
        <ul class="tm-header-icons">
          <li>
            <a href="wishlist.html">
              <i class="ion-android-favorite-outline"></i>
              <span>0</span>
            </a>
          </li>
          <li>
            <a href="cart.html">
              <i class="ion-bag"></i>
              <span>0</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
