<div class="tm-section tm-offer-area tm-padding-section bg-grey">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12 order-2 order-lg-1">
        <div class="tm-offer-content">
          <h1 style="font-size: 53px;">
            Are you searching for the
            <span>perfect diamond?</span>
          </h1>
          <h6>
            Whether you're a jewelry retailer, designer, or enthusiast, RP
            Enterprise India has the perfect lab grown diamond to elevate your
            creations.
          </h6>
          <!-- <div class="tm-countdown" data-countdown="2020/10/12"></div> -->
          <a href="product-details.html" class="tm-button">Shop now</a>
        </div>
      </div>
      <div class="col-lg-6 col-12 order-1 order-lg-2">
        <div class="tm-offer-image">
          <img
            class="tm-offer"
            src="assets/images/offer-image.png"
            alt="offer image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
