.bg-blue {
    background-color: #4e657a;
}

.wrapper {
    min-height: 100vh;
}

.tm-block-products {
    min-height: 725px;
}

.tm-bg-primary-dark {
    background-color: #435c70;
}

.tm-block {
    padding: 40px;
    -webkit-box-shadow: 1px 1px 5px 0 #455c71;
    -moz-box-shadow: 1px 1px 5px 0 #455c71;
    box-shadow: 1px 1px 5px 0 #455c71;
    min-height: 350px;
    height: 100%;
}

.tm-product-table-container {
    max-height: 465px;
    margin-bottom: 15px;
    overflow-y: scroll;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-block+.btn-block {
    margin-top: 0.5rem;
}

.btn-primary {
    color: #fff;
    background-color: #f5a623;
    border: 2px solid #f5a623;
    font-size: 90%;
    font-weight: 600;
}

.btn {
    border-radius: 0;
    padding: 13px 28px;
    transition: all 0.2s ease;
    max-width: 100%;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.btn-block {
    display: block;
    width: 100%;
}

.tm-block-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.table {
    background-color: #50697f;
    color: #fff;
    font-size: 85%;
    margin-bottom: 0;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

thead {
    background-color: #486177;
    color: #fff;
}

.tm-product-table tr {
    font-weight: 600;
}

.table thead th {
    border-bottom: 0;
    background-color: #486177;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.tm-table-small td,
.tm-table-small th {
    padding-left: 12px;
    padding-right: 12px;
    background-color: #486177;
}

.table-hover tbody tr {
    transition: all 0.2s ease;
}

.tm-product-table tr {
    font-weight: 600;
}

.tm-table-small td,
.tm-table-small th {
    padding-left: 12px;
    padding-right: 12px;
}

.table td,
.table th {
    border-top: 1px solid #415a70;
    padding: 15px 25px;
    vertical-align: middle;
}

.tm-table-small td,
.tm-table-small th {
    padding-left: 12px;
    padding-right: 12px;
}

.table td,
.table th {
    border-top: 1px solid #415a70;
    padding: 15px 25px;
    vertical-align: middle;
}

.navbar-toggler:hover .tm-nav-icon {
    color: #f5a623;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #394f62;
}

::-webkit-scrollbar-thumb {
    background: #6d8da6;
}

::-webkit-scrollbar-thumb:hover {
    background: #8ab5d6;
}