<div id="wrapper" class="wrapper">
  <div class="tm-header tm-header-sticky">
    <app-top-contact-bar></app-top-contact-bar>
    <app-search-area></app-search-area>
    <app-manu-bar></app-manu-bar>
  </div>
  <!-- Breadcrumb Area -->
  <div
    class="tm-breadcrumb-area tm-padding-section bg-grey"
    style="
      background-image: url(../../../../../../assets/images/breadcrumb-bg.jpg);
      margin-top: 57.6719px;
    "
  >
    <div class="container">
      <div class="tm-breadcrumb">
        <h2>Our Blog</h2>
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
  </div>
  <!--// Breadcrumb Area -->
  <main class="page-content">
    <!-- Blogs Area -->
    <div class="tm-section tm-blogs-page tm-padding-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="row tm-blog-container mt-50-reverse">
              <!-- Blog Single Item -->
              <div class="col-lg-6 col-md-6 col-12 mt-50">
                <div class="tm-blog tm-scrollanim">
                  <div class="tm-blog-topside">
                    <div class="tm-blog-thumb">
                      <img
                        src="../../../assets/images/blog/blog_1.jpg"
                        alt="blog image"
                      />
                    </div>
                    <span class="tm-blog-metahighlight">
                      <span>Nov</span>
                      18
                    </span>
                  </div>
                  <div class="tm-blog-content">
                    <h6 class="tm-blog-title">
                      <a [routerLink]="['details']">
                        Lab Grown Diamonds vs. Natural Diamonds: Exploring the
                        Differences
                      </a>
                    </h6>
                    <ul class="tm-blog-meta">
                      <li>
                        <a [routerLink]="['details']">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          Anderson
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['details']">
                          <i class="fa fa-comments" aria-hidden="true"></i>
                          3 Comments
                        </a>
                      </li>
                    </ul>
                    <p>
                      Lab-grown diamonds have emerged as a sustainable and
                      ethical alternative to natural diamonds. As a leading
                      manufacturer and exporter of lab-grown diamonds, RP
                      Enterprise India aims.[....]
                    </p>
                    <a [routerLink]="['details']" class="tm-readmore">
                      Read more
                    </a>
                  </div>
                </div>
              </div>
              <!--// Blog Single Item -->

              <!-- Blog Single Item -->
              <div class="col-lg-6 col-md-6 col-12 mt-50">
                <div class="tm-blog tm-scrollanim">
                  <div class="tm-blog-topside">
                    <div class="tm-blog-thumb">
                      <img
                        src="../../../assets/images/blog/Blog_2.jpg"
                        alt="blog image"
                      />
                    </div>
                    <span class="tm-blog-metahighlight">
                      <span>Dec</span>
                      23
                    </span>
                  </div>
                  <div class="tm-blog-content">
                    <h6 class="tm-blog-title">
                      <a [routerLink]="['details']">
                        Unveiling the Brilliance: Unique Shapes in Lab-Grown
                        Diamonds
                      </a>
                    </h6>
                    <ul class="tm-blog-meta">
                      <li>
                        <a [routerLink]="['details']">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          Anderson
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['details']">
                          <i class="fa fa-comments" aria-hidden="true"></i>
                          3 Comments
                        </a>
                      </li>
                    </ul>
                    <p>
                      Lab-grown diamonds have opened up a world of possibilities
                      when it comes to diamond shapes. With advanced technology
                      and craftsmanship, RP Enterprise [....]
                    </p>
                    <a [routerLink]="['details']" class="tm-readmore">
                      Read more
                    </a>
                  </div>
                </div>
              </div>
              <!--// Blog Single Item -->

              <!-- Blog Single Item -->
              <div class="col-lg-6 col-md-6 col-12 mt-50">
                <div class="tm-blog tm-scrollanim">
                  <div class="tm-blog-topside">
                    <div class="tm-blog-thumb">
                      <img
                        src="../../../assets/images/blog/Blog_3.jpg"
                        alt="blog image"
                      />
                    </div>
                    <span class="tm-blog-metahighlight">
                      <span>Jan</span>
                      15
                    </span>
                  </div>
                  <div class="tm-blog-content">
                    <h6 class="tm-blog-title">
                      <a [routerLink]="['details']">
                        The Ever-Growing Sparkle: The Increasing Demand for
                        Lab-Grown Diamonds
                      </a>
                    </h6>
                    <ul class="tm-blog-meta">
                      <li>
                        <a [routerLink]="['details']">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          Anderson
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['details']">
                          <i class="fa fa-comments" aria-hidden="true"></i>
                          3 Comments
                        </a>
                      </li>
                    </ul>
                    <p>
                      In recent years, there has been a remarkable surge in the
                      demand for lab-grown diamonds. As a leading manufacturer
                      and exporter [....]
                    </p>
                    <a [routerLink]="['details']" class="tm-readmore">
                      Read more
                    </a>
                  </div>
                </div>
              </div>
              <!--// Blog Single Item -->
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="widgets widgets-sidebar">
              <!-- Single Widget -->
              <div class="single-widget widget-categories">
                <h6 class="widget-title">Categories</h6>
                <ul>
                  <li>
                    <a
                      [routerLink]="['/product']"
                      [queryParams]="{ Shapes: 'Round' }"
                    >
                      Round
                    </a>
                  </li>
                  <li>
                    <a
                      [routerLink]="['/product']"
                      [queryParams]="{ Shapes: 'Oval' }"
                    >
                      Oval
                    </a>
                  </li>
                  <li>
                    <a
                      [routerLink]="['/product']"
                      [queryParams]="{ Shapes: 'Cushion' }"
                    >
                      Cushion
                    </a>
                  </li>
                  <li>
                    <a
                      [routerLink]="['/product']"
                      [queryParams]="{ Shapes: 'Princess' }"
                    >
                      Princess
                    </a>
                  </li>
                  <li>
                    <a
                      [routerLink]="['/product']"
                      [queryParams]="{ Shapes: 'Radiant' }"
                    >
                      Radiant
                    </a>
                  </li>
                  <li>
                    <a
                      [routerLink]="['/product']"
                      [queryParams]="{ Shapes: 'Pear' }"
                    >
                      Pear
                    </a>
                  </li>
                  <li>
                    <a
                      [routerLink]="['/product']"
                      [queryParams]="{ Shapes: 'Marquise' }"
                    >
                      Marquise
                    </a>
                  </li>
                  <li>
                    <a
                      [routerLink]="['/product']"
                      [queryParams]="{ Shapes: 'Emerald' }"
                    >
                      Emerald
                    </a>
                  </li>
                </ul>
              </div>
              <!--// Single Widget -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// Blogs Area   -->
  </main>
  <app-footer></app-footer>
</div>
