<div id="wrapper" class="wrapper">
  <div class="tm-header tm-header-sticky">
    <app-top-contact-bar></app-top-contact-bar>
    <app-search-area></app-search-area>
    <app-manu-bar></app-manu-bar>
  </div>
  <!-- Breadcrumb Area -->
  <div
    class="tm-breadcrumb-area tm-padding-section bg-grey"
    style="
      background-image: url(../../../../../../assets/images/breadcrumb-bg.jpg);
      margin-top: 57.6719px;
    "
  >
    <div class="container">
      <div class="tm-breadcrumb">
        <h2>Our Blog</h2>
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
  </div>
  <!--// Breadcrumb Area -->
  <main class="page-content">
    <!-- Blogs Area -->
    <div class="tm-section tm-blogs-page tm-padding-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="row tm-blog-container mt-50-reverse">
              <!-- Blog Single Item -->
              <div class="col-lg-6 col-md-6 col-12 mt-50">
                <div class="tm-blog tm-scrollanim">
                  <div class="tm-blog-topside">
                    <div class="tm-blog-thumb">
                      <img
                        src="../../../assets/images/blog/blog_1.jpg"
                        alt="blog image"
                      />
                    </div>
                    <span class="tm-blog-metahighlight">
                      <span>Aug</span>
                      15
                    </span>
                  </div>
                  <div class="tm-blog-content">
                    <h6 class="tm-blog-title">
                      <a [routerLink]="['/product']">
                        Lab Grown Diamonds vs. Natural Diamonds: Exploring the
                        Differences
                      </a>
                    </h6>
                    <ul class="tm-blog-meta">
                      <li>
                        <a [routerLink]="['/product']">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          Anderson
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/product']">
                          <i class="fa fa-comments" aria-hidden="true"></i>
                          3 Comments
                        </a>
                      </li>
                    </ul>
                    <p>
                      Lab-grown diamonds have emerged as a sustainable and
                      ethical alternative to natural diamonds. As a leading
                      manufacturer and exporter of lab-grown diamonds, RP
                      Enterprise India aims.[....]
                    </p>
                    <a [routerLink]="['/product']" class="tm-readmore">
                      Read more
                    </a>
                  </div>
                </div>
              </div>
              <!--// Blog Single Item -->

              <!-- Blog Single Item -->
              <div class="col-lg-6 col-md-6 col-12 mt-50">
                <div class="tm-blog tm-scrollanim">
                  <div class="tm-blog-topside">
                    <div class="tm-blog-thumb">
                      <img
                        src="../../../assets/images/blog/Blog_2.jpg"
                        alt="blog image"
                      />
                    </div>
                    <span class="tm-blog-metahighlight">
                      <span>Aug</span>
                      15
                    </span>
                  </div>
                  <div class="tm-blog-content">
                    <h6 class="tm-blog-title">
                      <a [routerLink]="['/product']">
                        Unveiling the Brilliance: Unique Shapes in Lab-Grown
                        Diamonds
                      </a>
                    </h6>
                    <ul class="tm-blog-meta">
                      <li>
                        <a [routerLink]="['/product']">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          Anderson
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/product']">
                          <i class="fa fa-comments" aria-hidden="true"></i>
                          3 Comments
                        </a>
                      </li>
                    </ul>
                    <p>
                      Lab-grown diamonds have opened up a world of possibilities
                      when it comes to diamond shapes. With advanced technology
                      and craftsmanship, RP Enterprise [....]
                    </p>
                    <a [routerLink]="['/product']" class="tm-readmore">
                      Read more
                    </a>
                  </div>
                </div>
              </div>
              <!--// Blog Single Item -->

              <!-- Blog Single Item -->
              <div class="col-lg-6 col-md-6 col-12 mt-50">
                <div class="tm-blog tm-scrollanim">
                  <div class="tm-blog-topside">
                    <div class="tm-blog-thumb">
                      <img
                        src="../../../assets/images/blog/Blog_3.jpg"
                        alt="blog image"
                      />
                    </div>
                    <span class="tm-blog-metahighlight">
                      <span>Aug</span>
                      15
                    </span>
                  </div>
                  <div class="tm-blog-content">
                    <h6 class="tm-blog-title">
                      <a [routerLink]="['/product']">
                        The Ever-Growing Sparkle: The Increasing Demand for
                        Lab-Grown Diamonds
                      </a>
                    </h6>
                    <ul class="tm-blog-meta">
                      <li>
                        <a [routerLink]="['/product']">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          Anderson
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/product']">
                          <i class="fa fa-comments" aria-hidden="true"></i>
                          3 Comments
                        </a>
                      </li>
                    </ul>
                    <p>
                      In recent years, there has been a remarkable surge in the
                      demand for lab-grown diamonds. As a leading manufacturer
                      and exporter [....]
                    </p>
                    <a [routerLink]="['/product']" class="tm-readmore">
                      Read more
                    </a>
                  </div>
                </div>
              </div>
              <!--// Blog Single Item -->
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="widgets widgets-sidebar">
              <!-- Single Widget -->
              <div class="single-widget widget-search">
                <h6 class="widget-title">Search</h6>
                <form action="#" class="widget-search-form">
                  <input type="text" placeholder="Enter your keyword..." />
                  <button type="submit"><i class="ti ti-search"></i></button>
                </form>
              </div>
              <!--// Single Widget -->

              <!-- Single Widget -->
              <div class="single-widget widget-categories">
                <h6 class="widget-title">Categories</h6>
                <ul>
                  <li><a [routerLink]="['/product']">Wedding Jewelry</a></li>
                  <li><a [routerLink]="['/product']">Rings</a></li>
                  <li><a [routerLink]="['/product']">Earrings</a></li>
                  <li><a [routerLink]="['/product']">Bracelets</a></li>
                  <li><a [routerLink]="['/product']">Nacklaces</a></li>
                  <li><a [routerLink]="['/product']">Children’s Jewelry</a></li>
                  <li><a [routerLink]="['/product']">Expression Jewelry</a></li>
                </ul>
              </div>
              <!--// Single Widget -->

              <!-- Single Widget -->
              <div class="single-widget widget-recentpost">
                <h6 class="widget-title">Recent Posts</h6>
                <ul>
                  <li>
                    <a
                      [routerLink]="['/product']"
                      class="widget-recentpost-image"
                    >
                      <img
                        src="../../../../../../assets/images/blog-thumbnail-1.jpg"
                        alt="blog thumbnail"
                      />
                    </a>
                    <div class="widget-recentpost-content">
                      <h6><a [routerLink]="['/product']">Diamond Ring</a></h6>
                      <span>January 15, 2019</span>
                    </div>
                  </li>
                  <li>
                    <a
                      [routerLink]="['/product']"
                      class="widget-recentpost-image"
                    >
                      <img
                        src="../../../assets/images/blog/blog-thumbnail-2.jpg"
                        alt="blog thumbnail"
                      />
                    </a>
                    <div class="widget-recentpost-content">
                      <h6><a [routerLink]="['/product']">Couple Ring</a></h6>
                      <span>Janury 14, 2019</span>
                    </div>
                  </li>
                  <li>
                    <a class="widget-recentpost-image">
                      <img
                        src="../../../assets/images/blog/blog-thumbnail-3.jpg"
                        alt="blog thumbnail"
                      />
                    </a>
                    <div class="widget-recentpost-content">
                      <h6><a>Diamon Bracelets</a></h6>
                      <span>January 13, 2019</span>
                    </div>
                  </li>
                </ul>
              </div>
              <!--// Single Widget -->

              <!-- Single Widget -->
              <div class="single-widget widget-archives">
                <h6 class="widget-title">Archives</h6>
                <ul>
                  <li><a>December 2018</a></li>
                  <li><a>Septemper 2018</a></li>
                  <li><a>June 2018</a></li>
                  <li><a>April 2018</a></li>
                  <li><a>February 2018</a></li>
                  <li><a>January 2018</a></li>
                </ul>
              </div>
              <!--// Single Widget -->

              <!-- Popular Tags -->
              <div class="single-widget widget-tags">
                <h6 class="widget-title">Popular Tags</h6>
                <ul>
                  <li><a>Make up</a></li>
                  <li><a>Facial</a></li>
                  <li><a>Hair Treatment</a></li>
                  <li><a>Skin Care</a></li>
                  <li><a>Hair Remove</a></li>
                  <li><a>Spa</a></li>
                  <li><a>Body Massage</a></li>
                </ul>
              </div>
              <!--// Popular Tags -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// Blogs Area   -->
  </main>
  <app-footer></app-footer>
</div>
