<div id="wrapper" class="wrapper">
  <div class="tm-header tm-header-sticky">
    <app-top-contact-bar></app-top-contact-bar>
    <app-search-area></app-search-area>
    <app-manu-bar></app-manu-bar>
  </div>
  <!-- Breadcrumb Area -->
  <div
    class="tm-breadcrumb-area tm-padding-section bg-grey"
    style="
      background-image: url(../../../assets/images/breadcrumb-bg.jpg);
      margin-top: 57.6719px;
    "
  >
    <div class="container">
      <div class="tm-breadcrumb">
        <h2>About Us</h2>
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li>About</li>
        </ul>
      </div>
    </div>
  </div>
  <!--// Breadcrumb Area -->
  <!-- Page Content -->
  <main class="page-content">
    <!-- Features Area -->
    <div class="tm-section tm-feature-area bg-grey">
      <div class="container">
        <div class="row mt-30-reverse">
          <!-- Single Feature -->
          <div class="col-lg-4 mt-30">
            <div class="tm-feature">
              <span class="tm-feature-icon">
                <img
                  src="assets/images/icons/production.png"
                  alt="free shipping"
                />
              </span>
              <div class="tm-feature-content">
                <h6>10000 CTS+</h6>
                <p>Yearly Production</p>
              </div>
            </div>
          </div>
          <!--// Single Feature -->

          <!-- Single Feature -->
          <div class="col-lg-4 mt-30">
            <div class="tm-feature">
              <span class="tm-feature-icon">
                <img
                  src="assets/images/icons/inventory.png"
                  alt="fast delivery"
                />
              </span>
              <div class="tm-feature-content">
                <h6>2000+</h6>
                <p>Inventory Stocklist</p>
              </div>
            </div>
          </div>
          <!--// Single Feature -->

          <!-- Single Feature -->
          <div class="col-lg-4 mt-30">
            <div class="tm-feature">
              <span class="tm-feature-icon">
                <img
                  src="assets/images/icons/experience.png"
                  alt="24/7 Support"
                />
              </span>
              <div class="tm-feature-content">
                <h6>50+</h6>
                <p>Years of Industry Experience</p>
              </div>
            </div>
          </div>
          <!--// Single Feature -->
        </div>
      </div>
    </div>
    <!--// Features Area -->

    <!-- Aboout Area -->
    <div class="tm-about-area tm-padding-section bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="tm-about-image">
              <img src="assets/images/about-image.jpg" alt="about image" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tm-about-content">
              <h4>ABOUT US</h4>
              <h6>
                Welcome to RP Enterprise India, your ultimate destination for
                the perfect lab grown diamonds!
              </h6>
              <p>
                With unparalleled brilliance and a commitment to quality, we are
                the leading manufacturer and exporter of lab grown diamonds.
              </p>
              <p>
                Discover RP Enterprise India's brilliance, where innovation
                merges with perfection. Crafting over 10,000 carats annually
                using CVD and HPHT methods, we offer a diverse inventory of
                2000+ lab grown diamonds to fulfill your creative desires. Join
                our community of satisfied customers and elevate your creations
                with the radiance of our diamonds
              </p>
              <p>
                Experience flawlessness with RP Enterprise India. Producing
                10,000+ carats yearly via CVD and HPHT, our inventory of 2000+
                lab grown diamonds suits designers, enthusiasts, and retailers.
                Unveil luminance and join RP Enterprise India's circle of
                excellence.
              </p>
              <p>
                Enhance your jewelry collection with RP Enterprise India – where
                perfection meets innovation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// Aboout Area -->

    <!-- our team area -->
    <div class="tm-about-area tm-padding-section bg-grey">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="tm-about-content">
              <h4>OUR TEAM</h4>
              <p>
                At RP Enterprise India, our success is driven by our remarkable
                team of experts who are passionate about lab grown diamonds and
                dedicated to delivering excellence in every aspect of our
                business. We are proud to have talented individuals behind our
                brand success.
              </p>
              <p>
                Together, our team at RP Enterprise India is committed to
                providing you with exceptional lab grown diamonds and unmatched
                customer service. We work tirelessly to exceed your expectations
                and ensure your satisfaction. With our expertise and passion, we
                are here to assist you in finding the lab grown diamond that
                will truly make your creations shine.
              </p>
              <p>
                Experience the difference of a team that is dedicated to
                excellence. Contact us today and let our team guide you on your
                journey to the perfect lab grown diamond.
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="tm-about-image">
              <img src="assets/images/Our_team.jpg" alt="Our_team image" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// our team area -->

    <!-- Our Process -->
    <div class="tm-team-members tm-padding-section bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-12">
            <div class="text-center">
              <h3>OUR PROCESS</h3>
              <p>
                our process is a blend of modern technology, skilled
                craftsmanship, and a passion for delivering exceptional lab
                grown diamonds. We invite you to explore our collection and
                experience the brilliance, purity, and ethical beauty of our lab
                grown diamonds.
              </p>

              <p>
                At RP Enterprise India, we pride ourselves on our meticulous and
                streamlined process of creating high-quality lab grown diamonds.
                Our commitment to excellence and innovation is reflected in
                every step of our process, ensuring that we deliver exceptional
                diamonds to our valued customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// Our Process -->

    <!-- Brand Logos -->
    <div class="tm-section tm-brandlogo-area tm-padding-section bg-grey">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-12">
            <div class="tm-sectiontitle text-center">
              <h3>Affiliations</h3>
              <p>
                Our popular Shapes are so beautyful to see that the shoppers are
                easily attracted to them.
              </p>
            </div>
          </div>
        </div>
        <div class="row tm-brandlogo-slider">
          <!-- Brang Logo Single -->
          <div class="col-12 tm-brandlogo">
            <a href="#">
              <img src="assets/images/brand_logo/1.png" alt="brand-logo" />
            </a>
          </div>
          <!--// Brang Logo Single -->

          <!-- Brang Logo Single -->
          <div class="col-12 tm-brandlogo">
            <a href="#">
              <img src="assets/images/brand_logo/2.png" alt="brand-logo" />
            </a>
          </div>
          <!--// Brang Logo Single -->

          <!-- Brang Logo Single -->
          <div class="col-12 tm-brandlogo">
            <a href="#">
              <img src="assets/images/brand_logo/3.png" alt="brand-logo" />
            </a>
          </div>
          <!--// Brang Logo Single -->

          <!-- Brang Logo Single -->
          <div class="col-12 tm-brandlogo">
            <a href="#">
              <img src="assets/images/brand_logo/4.png" alt="brand-logo" />
            </a>
          </div>
          <!--// Brang Logo Single -->

          <!-- Brang Logo Single -->
          <div class="col-12 tm-brandlogo">
            <a href="#">
              <img src="assets/images/brand_logo/3.png" alt="brand-logo" />
            </a>
          </div>
          <!--// Brang Logo Single -->

          <!-- Brang Logo Single -->
          <div class="col-12 tm-brandlogo">
            <a href="#">
              <img src="assets/images/brand_logo/4.png" alt="brand-logo" />
            </a>
          </div>
          <!--// Brang Logo Single -->
        </div>
      </div>
    </div>
    <!--// Brand Logos -->
  </main>
  <!--// Page Content -->
  <app-footer></app-footer>
</div>
