<div class="tm-header-toparea bg-black">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <ul class="tm-header-info">
          <li>
            <a href="tel:18883456789">
              <i class="fa fa-phone" aria-hidden="true"></i>
              +91 81690 97952
            </a>
          </li>
          <li>
            <a href="mailto:contact@example.com">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              naveen.rplabgrown&#64;gmail.com
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="tm-header-options">
          <div class="tm-dropdown tm-header-language">
            <!-- <button>
              <img src="assets/images/flag-english.png" alt="language" />
              English
            </button>
            <ul>
              <li>
                <a href="#">
                  <img src="assets/images/flag-english.png" alt="language" />
                  English
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/images/flag-spain.png" alt="language" />
                  Spanish
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/images/flag-russian.png" alt="language" />
                  Russian
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/images/flag-french.png" alt="language" />
                  French
                </a>
              </li>
            </ul> -->
            <button [routerLink]="['/login-register']" type="button">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
