<div id="wrapper" class="wrapper">
  <div class="tm-header tm-header-sticky">
    <app-top-contact-bar></app-top-contact-bar>
    <app-search-area></app-search-area>
    <app-manu-bar></app-manu-bar>
  </div>
  <!-- Breadcrumb Area -->
  <div
    class="tm-breadcrumb-area tm-padding-section bg-grey"
    style="
      background-image: url(../../../../../../assets/images/breadcrumb-bg.jpg);
      margin-top: 57.6719px;
    "
  >
    <div class="container">
      <div class="tm-breadcrumb">
        <h2>Products</h2>
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li>Products</li>
        </ul>
      </div>
    </div>
  </div>
  <!--// Breadcrumb Area -->

  <!-- Page Content -->
  <main class="page-content">
    <!-- Products Wrapper -->
    <div class="tm-products-area tm-section tm-padding-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <form action="#" class="tm-shop-header">
              <p class="tm-shop-countview">
                Showing {{ displayedItems }} to
                {{ displayedItems + productList.length - 1 }} of
                {{ totalItems }}
              </p>
              <select
                [(ngModel)]="order_by"
                (change)="onSortingFilterChange($event, order_by)"
                [ngModelOptions]="{ standalone: true }"
              >
                <option value="Asc">Name A-Z</option>
                <option value="Desc">Name Z-A</option>
              </select>
            </form>
            <div class="row">
              <div class="col-sm-4">
                <label class="lable-product">Product Clarity</label>
                <mat-form-field>
                  <mat-label>Clarity</mat-label>
                  <mat-select
                    [(value)]="clarityFilter"
                    (selectionChange)="onClarityFilterChange()"
                  >
                    <mat-option value="All">All</mat-option>
                    <mat-option
                      *ngFor="let option of clarityOptions"
                      [value]="option.clarity"
                    >
                      {{ option.clarity }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <label class="lable-product">Product Shapes</label>
                <mat-form-field>
                  <mat-label>Shape</mat-label>
                  <mat-select
                    [(value)]="shapeFilter"
                    (selectionChange)="onShapeFilterChange()"
                  >
                    <mat-option value="All">All</mat-option>
                    <mat-option
                      *ngFor="let option of shapeOptions; let i = index"
                      [value]="option.shape"
                    >
                      {{ option.shape }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-between align-items-center">
              <div class="col-sm-7">
                <div class="input-section">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Search products"
                      [(ngModel)]="searchQuery"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-4 d-flex">
                <div class="search-area">
                  <button mat-button (click)="performSearch()">
                    Search
                  </button>
                </div>
                <div class="reset-area">
                  <button (click)="resetFilter()" mat-button type="button">
                    Reset All Filter
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="tm-shop-products">
              <div
                class="row mt-30-reverse"
                infiniteScroll
                [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="300"
                (scrolled)="onScroll()"
              >
                <!-- Single Product -->
                <div
                  class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mt-50"
                  *ngFor="let item of productList"
                >
                  <div
                    class="tm-product tm-scrollanim"
                    [routerLink]="['details/', item.id]"
                  >
                    <div class="tm-product-topside">
                      <div class="tm-product-images">
                        <img
                          src="{{
                            item.imgurl
                              ? item.imgurl
                              : '../../../../../assets/images/9264822.jpg'
                          }}"
                          alt="product image"
                        />
                        <img
                          src="{{
                            item.imgurl
                              ? item.imgurl
                              : '../../../../../assets/images/9264822.jpg'
                          }}"
                          alt="product image"
                        />
                      </div>
                      <ul class="tm-product-actions">
                        <li></li>
                      </ul>
                      <div class="tm-product-badges">
                        <span class="tm-product-badges-new">New</span>
                        <span class="tm-product-badges-sale">Sale</span>
                      </div>
                    </div>
                    <div class="tm-product-bottomside">
                      <h6 class="tm-product-title">
                        <a [routerLink]="['/product']">
                          {{ item.product_name }}
                        </a>
                      </h6>
                      <div>
                        <span class="">
                          <b>Clarity -</b>
                          {{ item.clarity }}
                        </span>
                        <span class="">
                          <b>Color -</b>
                          {{ item.color }}
                        </span>
                        <span class="">
                          <b>Shape -</b>
                          {{ item.shape }}
                        </span>
                      </div>
                      <!-- <div class="tm-ratingbox">
                        <span class="is-active">
                          <i class="ion-android-star-outline"></i>
                        </span>
                        <span class="is-active">
                          <i class="ion-android-star-outline"></i>
                        </span>
                        <span class="is-active">
                          <i class="ion-android-star-outline"></i>
                        </span>
                        <span class="is-active">
                          <i class="ion-android-star-outline"></i>
                        </span>
                        <span><i class="ion-android-star-outline"></i></span>
                      </div> -->
                      <span class="tm-product-price">
                        $ {{ (item.system_price * item.weight).toFixed(2) }}
                      </span>

                      <div class="tm-product-actions cs-width2">
                        <!-- <a (click)="shareProductOnWhatsApp(item)">
                          <i class="ion-android-cart"></i>
                          Add to cart
                        </a> -->
                        <button
                          (click)="shareProductOnWhatsApp(item)"
                          id="mc-submit"
                          type="submit"
                          class="tm-button cs-width"
                        >
                          Buy Now
                          <img
                            style="width: 20px; height: 20px;"
                            src="../../../assets/images/fast-buy-3048.svg"
                            alt="buy"
                          />
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  style="
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 50px;
                  "
                  *ngIf="productList.length == 0"
                >
                  No Product Found
                </div>
                <!--// Single Product -->
              </div>
            </div>

            <div class="tm-pagination mt-50"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--// Page Content -->

  <app-footer></app-footer>
</div>
<!-- <router-outlet></router-outlet> -->
