<div id="wrapper" class="wrapper">
  <div class="tm-header tm-header-sticky">
    <app-top-contact-bar></app-top-contact-bar>
    <app-search-area></app-search-area>
    <app-manu-bar></app-manu-bar>
  </div>
  <!-- Breadcrumb Area -->
  <div
    class="tm-breadcrumb-area tm-padding-section bg-grey"
    style="
      background-image: url(../../../assets/images/breadcrumb-bg.jpg);
      margin-top: 57.6719px;
    "
  >
    <div class="container">
      <div class="tm-breadcrumb">
        <h2>Wishlist</h2>
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li>Wishlist</li>
        </ul>
      </div>
    </div>
  </div>
  <!--// Breadcrumb Area -->
  <!-- Page Content -->
  <main class="page-content">
    <!-- Wishlist Area -->
    <div class="tm-section wishlist-area bg-white tm-padding-section">
      <div class="container">
        <!-- Wishlist Table -->
        <div class="tm-wishlist-table table-responsive">
          <table class="table table-bordered mb-0">
            <thead>
              <tr>
                <th class="tm-wishlist-col-image" scope="col">Image</th>
                <th class="tm-wishlist-col-productname" scope="col">Product</th>
                <th class="tm-wishlist-col-price" scope="col">Price</th>
                <th class="tm-wishlist-col-quantity" scope="col">Quantity</th>
                <th class="tm-wishlist-col-addcart" scope="col">Add to Cart</th>
                <th class="tm-wishlist-col-remove" scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a
                    [routerLink]="['/product']"
                    class="tm-wishlist-productimage"
                  >
                    <img
                      src="assets/images/products/product-image-1-thumb.jpg"
                      alt="product image"
                    />
                  </a>
                </td>
                <td>
                  <a [routerLink]="['/product']" class="tm-cart-productname">
                    Stylist daimond earring
                  </a>
                </td>
                <td class="tm-wishlist-price">$75.00</td>
                <td>
                  <div class="tm-quantitybox">
                    <input type="text" value="1" />
                  </div>
                </td>
                <td>
                  <a
                    href="javascript:void(0)"
                    class="tm-button tm-button-small"
                  >
                    Add to Cart
                  </a>
                </td>
                <td>
                  <button class="tm-wishlist-removeproduct">
                    <i class="ion-close"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    [routerLink]="['/product']"
                    class="tm-wishlist-productimage"
                  >
                    <img
                      src="assets/images/products/product-image-2-thumb.jpg"
                      alt="product image"
                    />
                  </a>
                </td>
                <td>
                  <a
                    [routerLink]="['/product']"
                    class="tm-wishlist-productname"
                  >
                    Stylist daimond earring
                  </a>
                </td>
                <td class="tm-wishlist-price">$75.00</td>
                <td>
                  <div class="tm-quantitybox">
                    <input type="text" value="1" />
                  </div>
                </td>
                <td>
                  <a
                    href="javascript:void(0)"
                    class="tm-button tm-button-small"
                  >
                    Add to Cart
                  </a>
                </td>
                <td>
                  <button class="tm-wishlist-removeproduct">
                    <i class="ion-close"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    [routerLink]="['/product']"
                    class="tm-wishlist-productimage"
                  >
                    <img
                      src="assets/images/products/product-image-3-thumb.jpg"
                      alt="product image"
                    />
                  </a>
                </td>
                <td>
                  <a
                    [routerLink]="['/product']"
                    class="tm-wishlist-productname"
                  >
                    Stylist daimond earring
                  </a>
                </td>
                <td class="tm-wishlist-price">$78.00</td>
                <td>
                  <div class="tm-quantitybox">
                    <input type="text" value="1" />
                  </div>
                </td>
                <td>
                  <a
                    href="javascript:void(0)"
                    class="tm-button tm-button-small"
                  >
                    Add to Cart
                  </a>
                </td>
                <td>
                  <button class="tm-wishlist-removeproduct">
                    <i class="ion-close"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--// Wishlist Table -->
      </div>
    </div>
    <!--// Wishlist Area -->
  </main>
  <!--// Page Content -->
  <app-footer></app-footer>
</div>
